<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <main class="container" role="main">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Project's topic profile</span>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'main' %}" class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="{% url 'doc_form' %}" class="nav-link active">Добавить проект</a></li>
          </ul>
        </header>
        {% block content %}{% endblock %}
    </main>
<footer class="pt-4 container my-md-5 pt-md-2 border-top fixed-bottom">
    <div class="d-flex flex-wrap justify-content-center">
        <p class="text-muted">Project's topic profile 2022</p>
    </div>
</footer>
</body>
</html>