{% extends 'main/base.html' %}

{% block title %}
Document addition
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.description }}<br>
        <h6>Выберите профессии предполагаемых участников проекта</h6>
        {{ form.chosen_jobs }}<br>
        <h6>Загрузите ваши проектные документы</h6>
        <p>Это могут быть ваши доски из miro скачанные в csv формате
            или любые другие документы в pdf и txt форматах</p>
        {{ file_form.document }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
{% endblock %}
