{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
<div class="list-group">
    {% for p in projects %}
      <a href="{{ p.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ p.title }}</h5>
        </div>
        <p class="mb-1">{{ p.description }}</p>
      </a>
    {% endfor %}
</div>
{% endblock %}
