{% extends 'main/base.html' %}

{% block title %}
Success
{% endblock %}

{% block content %}
<h3>Проект {{ title }}</h3>
<p>Описание проекта: {{ description }}</p>
<p>Документов было добавлено: {{ documents|length }}</p>
<p>Темы:</p>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Знать</h4>
      <p class="card-text">{{ topic1 }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Уметь</h4>
      <p class="card-text">{{ topic2 }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Владеть</h4>
      <p class="card-text">{{ topic3 }}</p>
    </div>
  </div>
</div>
<br>
<p>Разреженность фи: {{ sparsity_phi }}</p>
<p>Разреженность тетта: {{ sparsity_theta }}</p>
<p>Контраст темы: {{ kernel_contrast }} - мера различия тем</p>
<p>Чистота темы: {{ kernel_purity }} - мера интерпретируемости тем</p>
<p>Перплексия: {{ perplexity }} - скорость сходимости модели</p>
{% endblock %}
